package main

templ Base() {
	<!DOCTYPE HTML>
	<html lang="en" data-theme="light">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<meta name="color-scheme" content="light dark"/>
			<link
				rel="stylesheet"
				href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
			/>
			<title>sp3 electronic lab notebook</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
